 :root {

} 

.dark{
     background-color: rgb(59, 48, 48);
     color: rgb(255, 255, 255);
     
 }
 .light{
    background-color: rgb(255,255,255);
    color: #429437d8;
    --link-color: #543fd7;
 }

