:root {

--primary-colorL: rgb(255, 255, 255);
--secondary-colorL:rgb(0,0,0);
--bg-colorL:rgb(245, 245, 245);
--font-colorL:rgb(44, 44, 44);
--heading-colorL:rgb(14, 14, 14);
--copyright-colorL: rgb(0, 0, 0);


--primary-colorD:rgb(250, 153, 153);
--secondary-colorD:rgb(253, 183, 183);
--bg-colorD: rgb(32, 32, 32);
--font-colorD:rgba(196, 196, 196, 0.74);
--heading-colorD:rgb(230, 115, 115);
--copyright-colorD: rgb(255, 255, 255);
    } 

body{
    background-color: var(--bg-colorL);
    color: var(--font-colorL);
}
h1{
    color: var(--heading-colorL);
}
h2 {
    color: var(--heading-colorL);
}
p1{
    font-size: 20px;
    color: var(--copyright-colorL);
 }
h4{
    text-align: center;
    color: var(--heading-colorL);
    font-size:35px;
}



.darktheme {
    background-color: var(--bg-colorD);
    color: var(--font-colorD);
 }
 .darktheme h1{
    color: var(--heading-colorD);
 }
 .darktheme h2{
    color: var(--primary-colorD);
 }
 .darktheme h3{
    color: var(--secondary-colorD);
 }
 .darktheme p1{
    font-size: 20px;
    color: var(--copyright-colorD);
 }
.darktheme h4{
    text-align: center;
    color: var(--heading-colorD);
}

 

